<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName {{ http_host }}
    DocumentRoot /var/www/{{ http_host }}/wordpress

    <Directory /var/www/{{ http_host }}/wordpress>
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

