Comme discuté précédemment, Argos m'a fait part que vous aviez tous un mot de passe faible. Prenez ça plus au sérieux et mettez un « y » quand vous l'aurez changé. Argos les reverra avant le début des jeux.

* Zeus : y
* Héra : y
* Poséidon : y
* Déméter : y
* Athéna : y
* Apollon : y
* Artémis : y
* Arès : y
* Aphrodite : y
* Héphaïstos : y
* Hermès : n
* Dionysos : y 