Si tu peux voir ce message, c'est que tu feras probablement l'affaire pour faire tomber Zeus.
Fais ce que tu a à faire, et pas d'inquiétude : il ne quitte jamais son trône, il ne verra pas ce message. D'ailleurs, si tu est ici c'est aussi par négligence de sa part.
Débrouille-toi pour lui donner une leçon. Moi, je ne peux pas t'aider plus que ça. Bonne chance. 